
#header {
  background: 	#FFFFFF;
  color: #d5d5d5;
  cursor: default;
  height: 5em;
  left: 0;
  line-height: 5em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
  border-style: solid;
  border-width: 4px;
  border-color: #010101;
}

  #header .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
  }

    @media screen and (max-width: 480px) {

      #header .inner {
        max-width: 90%;
        width: 90%;
      }

    }

  #header .logo {
    font-family: "Lato", sans-serif;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #4d4d4d;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
    width:155px;
    height:85px;
  }

    #header .logo:hover {
      color: rgba(229, 71, 75, 0.75);
    }

  #header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: #1c1c1c;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;

  }

    #header a:hover {
      color: 	#999999	;
    }

    #header a:last-child {
      padding-right: 0em;
    }

    @media screen and (max-width: 736px) {

      #header a {
        padding: 0 0.5em;
      }
    }

    @media screen and (max-width: 810px) {

      #header a {
        display: none;
      }
    }

    @media screen and (max-width: 1680px) {

      #header .logo {
        width:135px;
        height:75px;
      }

      @media screen and (max-width: 980px) {

        #header .logo {
          width:115px;
          height:65px;
        }

    }
}
@media screen and (max-width: 480px) {

  #header {
    min-width: 320px;
  }

}

header p {
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
}

header p {
  color: #717171;
}

body {
  position: relative;
  padding-top: 5em;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0 0 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background: #4d4d4d;
  position: fixed;
  z-index: 10001;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: #010101;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-weight: 300;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
