
#one {
  padding: 6em 0 4em 0;
}

/*#one .inner{

  margin-left: 10%;
}*/

  @media screen and (max-width: 980px) {

    #one {
      padding: 4em 0 2em 0;
    }

  }

  @media screen and (max-width: 736px) {

    #one {
      padding: 2em 0 0.1em 0;
    }

  }
