
#three {
  padding: 6em 0 4em 0em;
}

#three .row {
  padding-left: 4em;
  padding-right: 4em;
}

@media screen and (max-width: 1300px) {

  #three .row {
    padding-left: 0em;
    padding-right: 0em;
  }
}

  @media screen and (max-width: 980px) {

    #three {
      padding: 4em 0 2em 0;
    }
  }

  @media screen and (max-width: 736px) {

    #three {
      padding: 2em 0 0.1em 0;
    }

    #three .row {
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    #three .row .column {
      width: 95%;
      padding-top: 35px;
      margin-bottom: 10px;
    }

    .scroll{

      position: relative !important;
      bottom: 0;
      list-style-type: none;
      width: 95% !important;
      margin-top: 50px !important;
    }

    .column{

      height: auto !important;
    }
  }

  #three input[type="submit"],
  #three input[type="reset"],
  #three input[type="button"],
  #three button,
  #three .button {
    background-color: #5a5a5a;
    color: #ffffff !important;
  }

    #three input[type="submit"]:hover,
    #three input[type="reset"]:hover,
    #three input[type="button"]:hover,
    #three button:hover,
    #three .button:hover {
      background-color: #737373;
    }

    #three input[type="submit"].alt,
    #three input[type="reset"].alt,
    #three input[type="button"].alt,
    #three button.alt,
    #three .button.alt {
      background-color: #4d4d4d;
      box-shadow: inset 0 0 0 2px #fff;
      color: #4d4d4d; !important;
    }

      #three input[type="submit"].alt:hover,
      #three input[type="reset"].alt:hover,
      #three input[type="button"].alt:hover,
      #three button.alt:hover,
      #three .button.alt:hover {
        background-color: #999999;
      }

      #three input[type="submit"].alt:active,
      #three input[type="reset"].alt:active,
      #three input[type="button"].alt:active,
      #three button.alt:active,
      #three .button.alt:active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      #three input[type="submit"].alt.icon:before,
      #three input[type="reset"].alt.icon:before,
      #three input[type="button"].alt.icon:before,
      #three button.alt.icon:before,
      #three .button.alt.icon:before {
        color: #4d4d4d;
      }

    #three input[type="submit"].special,
    #three input[type="reset"].special,
    #three input[type="button"].special,
    #three button.special,
    #three .button.special {
      background-color: #4d4d4d;
      color: #4d4d4d !important;
    }

.column {
  float: left;
  width: 30.00%;
  padding: 25px;
  margin: 1% 0% 0% 2.5%;
  padding: 2% 1% 1% 1%;
  background-color: #f3f3f3;
  text-align: center;
  height: 630px;
  position: relative;
}

.scroll{

  position: absolute;
  bottom: 0;
  list-style-type: none;
  width: 85%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
