
#two {
  padding: 6em 0 4em 0;
  background-color: #f3f3f3;
}

  @media screen and (max-width: 980px) {

    #two {
      padding: 4em 0 2em 0;
    }

  }

  @media screen and (max-width: 736px) {

    #two {
      padding: 2em 0 0.1em 0;
    }
  }
